<div>    
    <ul class="list-group">
        <ul>
            <div *ngFor="let video of videoList.items; let i = index">
                <li (click)="onVideoSelect(video)" class="list-group-item">
                    <div className="video-list media">
                        <div className="media-left">
                           <img  *ngIf="video.snippet" className="media-object" src="{{video.snippet.thumbnails.default.url}}"/>
                        </div>
                        <div className="media-body">
                            <div *ngIf="video.snippet" className="media-heading">{{video.snippet.title}}</div>
                        </div>

                    </div>
                </li>
            </div>
        </ul>
    </ul>
</div>
